/*==========================
	Custom css
==========================*/

/*=== Font Size And Font Family ====*/
.dis-block{ 
	display:block;
}
.bg-img-fix {
    background-size: cover;
}
.bg-secondry {
    background-color: #2c4a6b;
}
.text-gray-dark {
    color: #9a9a9a;
}
/*=== Slider  ===*/
.main-slider .button-lg{
	padding: 15px 30px;
}

/*=== About Us ===*/
.about-us {
    min-height: 700px;
}
.about-us .dez-tabs .nav-tabs{
	border: 0 none;
    left: 61px;
    position: absolute;
    top: 0;
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -o-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    transform-origin: left top 0;
    width: auto;
}
.about-us .dez-tabs .nav-tabs li{
	display:inline-block;
	margin:0;
	background-color:#f6f6f6;
	text-align:center;
	float: left;
	border-right: 4px solid #e8e8e8;
}
.about-us .dez-tabs .about-contant{
	padding:30px 30px 10px 30px ;
}
.about-us .dez-tabs {
	position:relative;
}
.about-us .dez-tabs .tab-content{
	margin-left:60px;
	border:0;
}
.about-us .dez-tabs .tab-content h3{
	margin-top:0;
}
.about-us .dez-tabs .nav-tabs li a{
	border:0;
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.about-us .dez-tabs .nav-tabs li.active{

}
.owl-none .owl-nav{
	display:none;
}
.about-us .dez-tabs .nav-tabs li.active a{
	border:0;
	color;#000;
}
.about-us .dez-tabs .nav-tabs li.active a h4,
.about-us .dez-tabs .nav-tabs li.active a span{	
	color:#000;
}
.about-us .dez-tabs .nav-tabs li h4{
	margin:0;
	text-transform: uppercase;
	color:#757575;
}
.about-us .dez-tabs .nav-tabs li a span{
	font-weight:300;
	font-size:14px;
}
/*=== Our Project ===*/
.dez-project-left{
	position:relative;
} 
.dez-project-left:after {
    content: "";
    height: 100%;
    opacity: 0.8;
    position: absolute;
    right: 15px;
    top: 0;
    width: 1000px;
    z-index: -2;
}
/*=== Service Carousel ===*/
.service-carousel .date {
    position: absolute;
    right: 0;
    padding: 1px 5px;
    color: #000;
    top: -22px;
}
.service-carousel .ow-entry-content{
	position:relative;
	border:0;
	text-align:center;
}
.service-carousel .ow-entry-content h4{
	margin-top:0;
	margin-bottom:5px;
}

.service-carousel.owl-theme .owl-controls{
	margin-top: 0;
    position: absolute;
    right: 8.33333%;
    text-align: center;
    top: -80px;
    padding: 0 15px;
}
.service-carousel .owl-prev, 
.service-carousel .owl-next{
	border:0;
	width:40px;
	height:40px;
	padding:0;
	line-height:40px;
}
.service-carousel .owl-prev:hover, 
.service-carousel .owl-next:hover{
	opacity:0.8;
}
/*=== W3 Team ===*/
.dez-team .dez-media{
	border-bottom:4px solid #333232;
	border-top:4px solid #dadada;
}
.dez-team .dez-social-icon li a{
	height:30px;
	width:30px;
	border:0;
	color:#333232;
	padding:0;
	line-height:30px;
	font-size:15px;
}
.dez-team .dez-img-overlay6:before,
.dez-team .dez-img-overlay6:after{
	background-image:url(../images/overlay/rrdiagonal-line.png);
	background-color:rgba(0,0,0,0);
	opacity: 0.2;
}
/*=== Testimoniyal | Client Logo ===*/

/* 01 - Client Logo */
.client-logo ul{
	margin:0 -10px;
}
.client-logo {
	padding:0;
}
.client-logo ul li {
    display: inline-block;
    float: left;
    padding: 0 10px;
    width: 33.33%;
	margin-bottom: 20px;
}
.client-logo img{
	width:100%;
}
.bg-black-1{
	background-color:#2E1E13;
}
/*=== Blog ===*/

/* index 2 */
.company-status .counter {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 300;
}
/* about-service */
.about-service .icon-bx-wraper{ 
	border:none;
}
.about-service .icon-bx-wraper:nth-child(2){ 
	margin-top: -40px;
}
.about-service{ 
	margin-top:-150px; 
}
.gallery-projects .dez-gallery-box{ 
	margin-bottom:0;
}


@media only screen and (max-width: 1280px) {
	.blog-info li{
		font-size:13px;
	}
	.service-head{
		font-size:15px;
	}
}
@media only screen and (max-width: 991px) {
	.about-img{
		display:none;
	}
	.about-us .dez-tabs .about-contant{
		padding:15px 15px 10px 15px ;
	}
	.get-a-quote{
		text-align:center;
	}
	.get-a-quote .pull-right{
		width: 100%;
		padding:10px 0;
	}
	.get-a-quote {
		padding-top:20px;
		padding-bottom:20px;
	}
	
}
@media only screen and (max-width: 767px) {
	.about-us .dez-tabs .nav-tabs,
	.about-us .dez-tabs .nav-tabs li a{
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		position: unset;
	}
	.about-us .dez-tabs .nav-tabs{
		background-color:#F6F6F6;
		width:100%;
	}
	.about-us .dez-tabs .tab-content,
	.about-us .dez-tabs .nav-tabs{
		margin-left:0;
		display: block;
		clear: both;
	}
	.about-us .dez-tabs .nav-tabs li.active{
		border-right:0;
	}
	.about-us .dez-tabs .nav-tabs li{
		border-right:0;
		width:100%;
	}
	.about-us{
		padding-top:20px;
	}
	.dez-tabs.vertical .tab-pane{
		padding:0;
	}
	.dez-project-left:after{
		right:0;
	}
	.dez-service{
		padding:30px 15px;
	}
	.dez-service .service-carousel{
		margin-top:0;
	}
	.dez-service .owl-stage-outer{
		margin-bottom:30px;
	}
	.service-carousel.owl-theme .owl-controls{
		position:unset;
	}
	.footer-bottom .text-left,
	.footer-bottom .text-right{
		text-align:center;
	}
	
}
/* Team Section */
.skew-content-box ul li a {
    color: #fff;
    font-size: 14px;
    width: auto;
    padding: 0px 10px;
	line-height: 24px;
}
.skew-content-box {
    display: inline;
    left: -1px;
    padding: 5px 20px;
    position: absolute;
    top: -15px;
    width: auto;
}
.skew-content-box:after {
    background-color: inherit;
    content: "";
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
    transform: skewX(20deg);
    width: 20px;
    z-index: 1;
}
/* Login */
.dez-login {
    background-color: #292929;
    bottom: 0;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.login-form {
    max-width: 400px;
    margin: 0px auto;
    background: #fff;
}
.dez-form .form-control {
    background: #DDE3EC;
    height: 44px;
}
.dez-form .form-group {
    margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
    .skew-content-box {
        padding: 5px;
    }
    .skew-content-box ul li a {
        margin-right: 3px;
        font-size: 13px;
    }
    .dez-social-icon {
        margin: 0;
    }
    .skew-content-box ul li a {
        padding: 5px;
    }
    .request-a-quote:before {
        left: 0;
        transform: skewX(0deg);
    }
    .header-style-4 .slide-up {
        position: unset;
    }
}
@media only screen and (max-width: 767px) {
    .dez-book-now-content {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .our-service .service-box {
        margin-bottom: 30px;
    }
    .our-service {
        margin-top: 50px;
    }
    .dez-newsletter {
        padding: 15px;
    }
    .company-stats-worker {
        display: none;
    }
	.hidden-sm-down {
        display: none;
    }
	.main-slider .button-lg {
		font-size: 14px;
		padding: 8px 10px;
	}
}
/* Responsive */
@media only screen and (max-width: 1024px) {
    .awesome-services .dez-info-has {
        position: unset;
    }
}

/* Gallery-page */
.dez-hover a:active, 
.dez-hover a:hover {
    color: #fff;
}


footer .footer-bottom .fa-heart {
	animation: 2.5s ease 0s normal none infinite running animateHeart;
	font-size: 16px;
}
@keyframes animateHeart {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.2);
	}
	10% {
		transform: scale(1.1);
	}
	15% {
		transform: scale(1.25);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}




/* Gradiyant And Color Css */
.overlay-primary-light.main:after, 
.overlay-primary-middle.main:after, 
.overlay-primary-dark.main:after{
	background:#FC3D6A;
}
.overlay-primary-light:after, 
.overlay-primary-middle:after, 
.overlay-primary-dark:after{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff709b+0,ff2b6e+100 */
	background: #ff709b; /* Old browsers */
	background: -moz-linear-gradient(top, #ff709b 0%, #ff2b6e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff709b 0%,#ff2b6e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff709b 0%,#ff2b6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff709b', endColorstr='#ff2b6e',GradientType=0 ); /* IE6-9 */
}
/* Heading Tag */
.h4, .h5, .h6, h4, h5, h6{
	font-weight:400;
}
.box-sort{
	background-color: #ffffff;
    /* box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08); */
	border: 1px solid #ebedf2;
	border-radius: 4px;
}
.box-sort .box-sort-in{
	border-top:1px solid #ebedf2;
}
.dis-tbl{
	display:table;
}
.dis-tbl-cell{
	display:table-cell;
	vertical-align:middle;
}
.dis-tbl-cell-b{
	display:table-cell;
	vertical-align:bottom;
}
.img-cover{
	object-fit:cover;
	width:100%;
}
.widget.bg-white{
	border: 1px solid #ebedf2;
}
/* Contact Form */
.dez-social-icon.dez-social-icon-lg li a {
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    line-height: 34px;
    padding: 0;
    width: 35px;
}
.dez-social-icon-lg.dez-social-icon li {
    display: inline-block;
    font-size: 12px;
    padding: 0;
}
.dez-social-icon-lg.dez-social-icon.border li a {
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.contact-style-1 input{
	height:50px;	
}
.contact-style-1 .site-button{
	height:50px;
	width:100%;
}
.contact-style-1 .form-control{
	padding:10px 20px;
}
.contact-style-1 .form-control:focus,
.contact-style-1 .form-control:hover{
	border-color:#c0c0c0;
}
.contact-style-1 h2{
	margin-top:0;
}
.contact-style-1 .border-1{
	border:1px solid #eee;
}
.contact-style-1 .dez-social-icon-lg{
	border-top: 1px solid #eeeeee;
    padding-top: 20px;
    text-align: left;
    width: 100%;
	margin: 0;
}
.contact-style-1 .dez-social-icon-lg a{
	text-align:center;
}
.contact-style-1 .dez-social-icon-lg li a:hover{
	background:#fff;
	color:#000;
	border:1px solid #eee;
}
.contact-style-1  .form-group {
    margin-bottom: 25px;
}
.sort-title{
	margin-bottom:40px;
}
.sort-title h4:after{
	left: -160px;
}
.sort-title.text-white h4:after,
.sort-title.text-white h4:before {
	background:#fff;
}
.sort-title h4:after,
.sort-title h4:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: -160px;
    top: 50%;
    width: 150px;
	opacity: 0.15;
}
.sort-title h4 {
    display: inline-block;
    margin: 0;
    position: relative;
}	


/* Index New */	
/* -- Header */	
.spa-header .logo-header.mostion {
    margin-top: -15px;
    width: 250px;
}
.header-set {
    position: absolute;
    right: -5px;
    top: 0;
    width: 65%;
    z-index: 1;
}
.spa-header.header-transparent .top-bar {
    color: #ffffff;
}
.site-header.spa-header .navbar-nav > li {
    padding: 18px 0 ;
}
.site-header.spa-header .navbar-nav > li > a{
	border:2px solid rgba(255,255,255,0);
	padding: 10px 18px;
}
.site-header.spa-header .navbar-nav > li.active > a,
.site-header.spa-header .navbar-nav > li:hover > a{
	color:#fff;
	border:2px solid rgba(255,255,255,1);
    border-radius: 30px;
}
.header-transparent.spa-header .is-fixed .main-bar{
	background-color:#fff;
	z-index:999;
}

.spa-header .is-fixed .logo-header.mostion{
	margin-top:0;
	width: 200px;
}
.spa-header.header-transparent .is-fixed .header-nav .nav > li > a, 
.spa-header.header-transparent .is-fixed .extra-nav .site-button-link, 
.spa-header.header-transparent .is-fixed .navbar-toggle{
	color: #333;
}
.site-header.spa-header .is-fixed .navbar-nav > li{
	padding: 13px 0;
}
.site-header.spa-header .is-fixed .navbar-nav > li.active > a, 
.site-header.spa-header .is-fixed .navbar-nav > li:hover > a{
	 border: 2px solid #FD4971;
	 color: #FD4971;
}
/* Slider Set */
.slider-set {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
	opacity:0.5;
}
/* Title */
.spa-title-head{
	font-size:65px;
	line-height:75px;
}
.min-title{
	font-size: 30px;
    line-height: 40px;
}
/* Owl Btn Spa Lr */
.owl-spa-btn .owl-controls .owl-nav .owl-next,
.owl-spa-btn .owl-controls .owl-nav .owl-prev{
	background: #e8e8e8;
    width: 60px;
    height: 60px;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    color: #000;
    font-size: 36px;
}
.owl-spa-btn .owl-controls .owl-nav .owl-next:hover,
.owl-spa-btn .owl-controls .owl-nav .owl-prev:hover,
.box-price span,
.gradient{
	color:#fff;
	background: #fe5578; /* Old browsers */
	background: -moz-linear-gradient(top, #fe5578 0%, #fc3867 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fe5578 0%,#fc3867 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fe5578 0%,#fc3867 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-next{
	right:-100px;
}
.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-prev{
	left:-100px;
}

/* Services */
.spa-service-box{
	padding:20px 15px;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.spa-service-box .icon-bx-wraper{
	border-radius:12px;
	box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.08);
	padding:60px 30px 70px;
	background:#ffffff;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.spa-service-box .icon-bx-wraper:hover{
	background:#FC3D6A;
	color:#fff;
}
.spa-service-box .icon-bx-wraper:hover .icon-cell,
.spa-service-box .icon-bx-wraper:hover .dez-tilte {
	color:#fff;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.dez-separator.spa{
	height:4px;
	width:200px;
	border-radius:4px;
	margin-left: -50px;
}
.list-icon-box{
	margin-bottom: 0;
	padding:0;
	list-style:none;
}
.list-icon-box li{
	font-size:16px;
	display: table;
	padding: 5px 0;
}
.list-icon-box li i{
	font-size:32px;
	margin-right:10px;
}
.list-icon-box span {
    display: table-cell;
    vertical-align: middle;
}
.box-img{
	position: relative;
    z-index: 1;
}
.box-img:after {
    background: #fc4e89 none repeat scroll 0 0;
    border-radius: 12px;
    bottom: -20px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
    color: #000000;
    content: "";
    height: 40%;
    position: absolute;
    right: -20px;
    width: 70%;
    z-index: -1;
}
.box-img img{
	border-radius:12px;
	box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
}
/* Spa Care Box */
.dez-media > p {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #e4e4e4;
    border-radius: 12px;
    color: #363636;
    font-size: 16px;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    top: 30px;
    width: 70%;
}
.media-img{
	width:40%;
	border:2px solid #e4e4e4;
}
.appoint-btn,
.box-price{
	width:50%;
	float:left;
}
.box-price span{
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
}
.box-price h2{
    border-bottom: 3px solid #fc3d6a;
}
.fley{
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.spa-care-box {
    padding: 0 10px;
}
/* callout content */
.callout-box{
	position:relative;	
}
.callout-content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 750px;
}
.text-fly{
	text-shadow: -2px -2px 8px rgba(0, 0, 0, 0.3);
}

/* Time Line */
.time-line {
    position: relative;
}
.time-line:after {
    background: #fc3d6a none repeat scroll 0 0;
    border-radius: 2px;
    content: "";
    height: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    width: 4px;
	display:block;
}
.time-line .line-left-box,
.time-line .line-right-box{
	
	width: 40%;
	position:relative;
	z-index: 1;
}
.line-right-box .line-content-box,
.line-left-box .line-content-box{
	background: #ffffff none repeat scroll 0 0;
    border-radius: 12px;
    box-shadow: 1px 1px 62px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.line-left,
.line-right{
	position:relative;
	display:table;
	width:100%;
}
.line-left:after {
    background: #fc3d6a none repeat scroll 0 0;
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
	left:40%;
    width: 10%;
}	
.line-right:after {
    background: #fc3d6a none repeat scroll 0 0;
    content: "";
    height: 4px;
    position: absolute;
	right:40%;
    top: 50%;
    width: 10%;
}	
.time-line .line-left-box {
	float: left;
}
.time-line .line-right-box {
	float: right;
}
.time-line .line-left-box  .line-content-box{
	padding-right:60px;
}
.time-line .line-right-box  .line-content-box{
	padding-left:60px;
}
.line-num {
    border-radius: 40px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
	font-family:"Nunito",sans-serif;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
}
.time-line .line-left-box .line-num{
	position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.time-line .line-right-box .line-num{
	position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* Spa Experience  */	
.experience-spa{
	margin-top:-50px
}
.experience-spa .callout-content{
		width:1140px;
}
.experience-spa .callout-content .icon-bx-wraper{
	box-shadow:1px 1px 60px 0 rgba(0,0,0,0.15);
	padding:30px;
	border-radius:12px;
}
.experience-spa .callout-content{
	top:70%;
}
.experience-spa-box{
	position:relative;
	z-index:2;
}
/* Footer */
.ft-gallery-box{
	border:1px solid #FC3D6A;
	padding:20px 30px 50px 20px;
	border-radius:12px;
	margin-top: -200px;
}
.ft-gallery-media img{
	border-radius: 12px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
}
.ft-gallery-media{
	position:relative;
	z-index: 1;
}
.ft-gallery-media:after {
    background: #fc4e89 none repeat scroll 0 0;
    border-radius: 12px;
    bottom: -15px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.35);
    color: #000000;
    content: "";
    height: 70%;
    position: absolute;
    right: -15px;
    width: 40%;
    z-index: -1;
}
.ft-gallery-box .owl-theme .owl-controls {
    bottom: -80px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
.ft-gallery-box .item {
    padding: 10px;
}
.spa-footer .footer-bottom{
	font-size:16px;
	color:#363636;
}

.ft-gallery-media .owl-nav {
    width: 150px;
}
.spa-footer .footer-bottom,
.spa-footer .footer-top{
	background-color:#FEF8FA;
	
}
.spa-footer .footer-bottom .container,
.spa-footer .footer-top .container{
	position:relative;
	z-index:2;
}

.spa-footer {
	position:relative;
}
.footer-bg {
    background-image: url(../images/background/bg11.jpg);
    background-position: left bottom;
    background-size: 100% auto;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
	background-repeat:no-repeat;
}
footer.spa-footer p, 
footer.spa-footer li{
	font-size:16px;
}
footer.spa-footer h1,
footer.spa-footer h2,
footer.spa-footer h3,
footer.spa-footer h4,
footer.spa-footer h5,
footer.spa-footer h6,
footer.spa-footer h1 a,
footer.spa-footer h2 a,
footer.spa-footer h3 a,
footer.spa-footer h4 a,
footer.spa-footer h5 a,
footer.spa-footer h6 a {
    color: #363636;
}
footer.spa-footer p,
footer.spa-footer strong,
footer.spa-footer b,
footer.spa-footer {
    color: #363636;
}
footer.spa-footer h1 a,
footer.spa-footer h2 a,
footer.spa-footer h3 a,
footer.spa-footer h4 a,
footer.spa-footer h5 a,
footer.spa-footer h6 a,
footer.spa-footer p a {
    color: #363636;
}

footer.spa-footer a,
footer.spa-footer a:visited {
    color: #363636;
}
footer.spa-footer p a {
    color: #363636;
}
footer.spa-footer a:active,
footer.spa-footer a:focus,
footer.spa-footer a:hover {
    color: #363636;
}
/* widget color */
footer.spa-footer .widget_categories ul li a,
footer.spa-footer .widget_archive ul li a,
footer.spa-footer .widget_meta ul li a,
footer.spa-footer .widget_pages ul li a,
footer.spa-footer .widget_recent_comments ul li a,
footer.spa-footer .widget_nav_menu li a,
footer.spa-footer .widget_recent_entries ul li a,
footer.spa-footer .widget_services ul li a {
    color: #363636;
}

/* Particles */
.particles {
	position:relative;
}
.particles .container{
	z-index:2;
	position:relative;
}
.bg-primary{
	
}

/* Responsive */
@media only screen and (max-width: 1400px) {
	.experience-spa .callout-content{
		width:1000px;
		top: 60%;
	}
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-next{
		right: -60px;
	}
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-prev {
		left: -60px;
	}
	.header-set {
		width:80%;
	}
}
@media only screen and (max-width: 1200px) {
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-next{
		right: -5px;
	}
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-prev {
		left: -5px;
	}
	.experience-spa .callout-content {
		padding: 0 15px;
		width: 100%;
	}
	.dez-separator.spa{
		margin-left:0;
	}
	.spa-title-head{
		font-size:45px;
		line-height:55px;
	}
	.min-title{
		font-size:24px;
	}
	.appoint-btn, 
	.box-price{
		width:100%;
	}
	.appoint-btn{
		text-align:center;	
		margin-top:0;
	}
	.callout-content{
		width:90%;
		padding:0 15px;
	}
	.experience-spa.callout-box > img{ 
		display:none;
	}
	.experience-spa.callout-box {
		background-color: #fc3968;
		padding: 45px 15px;
	}
	.experience-spa.callout-box .callout-content{
		width:100%;
		position:unset;
		transform:none;
	}
	.header-set {
		width:90%;
	}
}
@media only screen and (max-width: 991px) {
	.site-header.spa-header .navbar-nav > li,
	.site-header.spa-header .is-fixed .navbar-nav > li{
		padding:0;
		
	}
	.site-header.spa-header .navbar-nav > li.active > a, 
	.site-header.spa-header .is-fixed .navbar-nav > li.active > a, 
	.site-header.spa-header .navbar-nav > li:hover > a,
	.site-header.spa-header .is-fixed .navbar-nav > li:hover > a{
		 border: 0;
		 color: #000;
		 border-radius:0;
	}
	.experience-spa{
		margin-top:0;
	}
}
@media only screen and (max-width: 767px) {
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-next{
		right: 5px;
	}
	.owl-btn-center-lr.owl-btn-spa-lr .owl-controls .owl-nav .owl-prev {
		left: 5px;
	}
	.media-img{
		width:100%;
	}
	.dez-media > p{
		top:0;
		width:100%;
		border-radius:0;
		position:relative;
	}
	.callout-box > img{ 
		display:none;
	}
	.callout-box {
		background-color: #fc3968;
		padding: 45px 15px;
	}
	.callout-box .callout-content{
		width:100%;
		position:unset;
		transform:none;
	}
	.line-left, 
	.line-right{
		margin-bottom:30px;	
	}
	.line-num{
		height:40px;
		width:40px;
		font-size:16px;
		line-height:40px;
	}
	.time-line:after,
	.line-right:after{
		right:auto;
		left:0;
	}
	.time-line .line-left-box, 
	.time-line .line-right-box{
		width:90%;
		float: right;		
	}
	.time-line .line-left-box .line-num,
	.time-line .line-right-box .line-num{
		left:-20px;
	}
	.time-line .line-left-box{
		padding-right:30px;
	}
	.time-line .line-right-box{
		padding-left:30px;
	}
	.ft-gallery-box{
		margin-top:0;
	}
	.header-set, .slider-set{
		 z-index: 2;
	}
	.tp-shapewrapper{
		background-color:rgba(0,0,0,0.3) !important;
	}
	/* Header Responsive */
	.spa-header.header-transparent{
		position:unset;
	}
	.spa-header .logo-header.mostion{
		margin-top:0;
		width:200px;
	}
	.spa-header .top-bar{
		display:none;
	}
	.spa-header.header-transparent .header-nav .nav > li > a, 
	.spa-header.header-transparent .extra-nav .site-button-link, 
	.spa-header.header-transparent .navbar-toggle{
		color:#606060;
	}
	.time-line .line-left-box  .line-content-box{
		padding-right:30px;
	}
	.time-line .line-right-box  .line-content-box{
		padding-left:30px;
	}
	.line-left:after{
		left: 0;
	}
	.time-line .line-right-box,
	.time-line .line-left-box{
		padding:0;
	}
}

	/* Home 2 */
.heading-top {
    font-family: "Nunito",sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #353535;
}
.heading-bottom{
	font-size: 28px;
	color: #363636;
	padding-top: 10px;
}
.circle-sap{
	height: 14px;
	width: 14px;
	content: "";
	position: relative;
	border-radius: 50px;
	margin: 0px auto;
}
.circle-sap:after{
	height: 14px;
	width: 14px;
	content: "";
	position: absolute;
	border-radius: 50px;
	text-align: center;
	left: 25px;
}
.circle-sap:before{
	height: 14px;
	width: 14px;
	content: "";
	position: absolute;
	border-radius: 50px;
	text-align: center;
	right: 25px;
}
.circle-sap.bg-white,
.circle-sap.bg-white:after,
.circle-sap.bg-white:before{
	background-color: #fff;
}
	/* Abouts */
.abouts-2{
    box-shadow: 0 0 4px 2px rgb(240, 240, 240);
	border: 2px solid rgba(0, 0, 0, 0);
	transition: all 0.5s;
}
.abouts-2:hover{
	border: 2px solid #FC3D6A;
	transition: all 0.5s;
	border-radius: 3px;
}
.abouts-2:hover .dez-info .site-button{
	color: #fff;
	border: 2px solid #FD4871;
	box-shadow: 0 0 5px 5px #eaeaea;
}
	/* Team */
.dez-expert .team-title .team-num {
    float: left;
    font-size: 118px;
    font-weight: 700;
    width: 30%;
}
.dez-expert .team-title .team-name {
    float: left;
    margin: 0;
    width: 70%;
}
.dez-expert .team-title .team-name > span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
	margin: 0;
}
.dez-expert .img-box img{
	box-shadow: 0 0 10px 6px #ededed;
	width: 100%;
}
.dez-expert .img-box .dez-social-icon li a {
    color: #aaa;
    font-size: 20px;
    height: 35px;
    width: 35px;
}
.dez-expert .img-box .dez-social-icon{
	padding-top: 25px;
}

/* Meet Your Experts */
.spa-meet-expert .team-title .icon-xl span {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
	font-family:Nunito;
}
.spa-meet-expert .team-title .icon-content .dez-tilte{
	font-size:30px;
	font-weight:700;
}
.spa-meet-expert .team-title .icon-content p{
	font-size:20px;
	font-weight:700;
	font-family:Nunito;
}
.spa-meet-expert .team-title .icon-bx-wraper{
	display:table;
}

.spa-meet-expert .team-title .icon-bx-wraper .icon-xl,
.spa-meet-expert .team-title .icon-bx-wraper .icon-content{
	display: table-cell;
	vertical-align:middle;
}
.spa-meet-expert .img-box{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}

/* Spicial Gifts & Cards */

.special-gifts .gifts-price{
	color:#7e7e7e;
	font-size:20px;
	font-weight:500;
}
.special-gifts .gifts .dez-title{
	font-size:24px;
	font-weight:700;
	margin-bottom:0;
}
.special-gifts .gifts.bg-gray {
	background-color:#F8F9FD;
}
.special-gifts .gifts .dez-divider{
	margin-bottom: 0;
}
.special-gifts .dez-box{
	border: 0 none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.bg-gray-primary{
	background-color:#faf9fd;
}

/* Priceing Table */
.pricing-plans .pricingtable-inner{
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.pricing-plans  .pricingtable-footer{
	background-color:#fff;
	padding: 40px 20px;
}
.pricing-plans .pricingtable-features li:nth-child(2n){
	background-color:#fff;
	
}
.pricing-plans .pricingtable-features li{
	font-size: 18px;
    font-weight: 500;
    padding: 15px;
}
.pricing-plans  .pricingtable-price span{
	font-family: nunito;
}
.pricing-plans  .pricingtable-price .pricingtable-bx{
	font-size: 65px;
    font-weight: 700;
}

	/* Latest Blog */
.blog-post-2{
	box-shadow: 0 0 20px 15px #ededed;
}
.blog-post-2 .dez-post-info a{
	display: block;
	font-size: 28px;
	margin: 0 0 10px;
}
.blog-post-2 .dez-post-info i {
    left: 50%;
    margin-top: -45px;
    position: absolute;
    transform: translate(-50%, 0px);
}

	/* Appoinment */
.appoinment-1 .appoinment .btn.dropdown-toggle.btn-default,
.appoinment-1 .appoinment .form-control{
	border-width: 0 0 1px 0!important;
	border-radius: 0;
	padding: 10px 0;
}
.appoinment-1 .appoinment label{
	color: #c2c2c2;
}
.appoinment-1 .appoinment{
    box-shadow: 0 0 15px 5px #dfdfdf;
    margin-bottom: 50px;
}
.appoinment-1 .appoinment .form-group{
	margin: 25px 0;
}

	/* Footer */
.home-footer-2 .footer-top,
.home-footer-2 .footer-bottom{
	background-color: #F9FAFE;
}
.home-footer-2 .add-list li {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    list-style: outside none none;
}
.home-footer-2 .dez-social-icon li a{
	color: #FC3B69;
	margin-right: 5px;
}
.home-footer-2 .logo-footer{
	width: 200px;
}
.home-footer-2 .promotions .num-pra {
    font-size: 55px;
    font-weight: 800;
    margin: 5px 0;
}
.home-footer-2 .promotions .value {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}
.home-footer-2 .promotions{
	width: 70%;
}
.home-footer-2 .promotions img{
	width: 100%;
}
.home-footer-2 h1,
.home-footer-2 h2,
.home-footer-2 h3,
.home-footer-2 h4,
.home-footer-2 h5,
.home-footer-2 h6,
.home-footer-2 p,
.home-footer-2 span,
.home-footer-2 li,
.home-footer-2 .clearfix{
	color: #353535;
}
.home-footer-2 .promotions .site-button {
    border-radius: 0;
    display: block;
    font-size: 24px;
    font-weight: 500;
	color: #fff;
}
.site-button-link.underline{
    font-weight: 500;
    text-decoration: underline;
}
.home-footer-2 .add-list .icon-bx-xs {
    height: 100px;
    line-height: 40px;
    width: 100px;
}
.home-footer-2 .add-list .dez-box:hover{
	transition: all 0.5s;
	z-index: 99;
}
/* Footer Gallery */
.round-gallery-box ul{
	margin:0;
	list-style:none;
}
.round-gallery-box ul li {
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-left: -15%;
    width: 30%;
}
.round-gallery-box ul li a{
	border-radius: 100%;
    display: inline-block;
    overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}
.round-gallery-box ul li:first-child {
    margin-left: 0;
}
.round-gallery-box ul li a:hover{
	position: relative;
	z-index:2;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transform: scale(1.1) rotate(15deg);
	-o-transform: scale(1.1) rotate(15deg);
	-webkit-transform: scale(1.1) rotate(15deg);
	-moz-transform: scale(1.1) rotate(15deg);
}

@media only screen and (max-width: 768px){
	.home-footer-2 .promotions {
		width: 30%;
	}
}
@media only screen and (max-width: 360px) {
	.heading-top{
		font-size: 30px;
		line-height: 30px;
	}
	.heading-bottom{
		font-size: 24px;
		line-height: 30px;
	}
	.blog-post-2 .dez-post-info a{
		font-size: 24px;
		line-height: 24px;
	}
}
@media only screen and (max-width: 640px) {
	.home-footer-2 .promotions {
		width: 40%;
	}
}
@media only screen and (max-width: 480px) {
	.home-footer-2 .promotions {
		width: 70%;
	}
}
@media only screen and (max-width: 320px) {
	.home-footer-2 .promotions {
		width: 70%;
	}
}